body {
  background-color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
footer {
  padding: 1em;
}
footer a {
  font-weight: bold;
  color: black;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: #333;
  text-decoration: underline;
}

.appInner {
}
