.storyList {
  padding: 0 1em;
}
.story {
  padding: 1em 0;
}
.storyTitle {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  margin-bottom: 0.5em;
}
.storyTitle a {
  color: #333;
}

.storyDetails {
  font: 0.8rem;
  font-weight: bold;
}
.storyDetails span {
  margin-right: 1em;
}
.storyDetails a {
  color: #6600ff;
}
